extends layout

block content
    h1 Create
    form(method='post' class='create')
        label(for='create-value') Name
        input#create-value(type='text' name='createValue')
        button Create