extends layout

block content
    h1 Index
    ul
        each doc in docs
            a(href='view/#{doc._id}')
                li(id=doc._id)
                    form(method='get')
                        h3= doc.name
