doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='/') Index
        li
          a(href='create') Create
        li
          a(href='read') Read
        li
          a(href='update') Update
        li
          a(href='destroy') Destroy
    block content
