extends layout

block content
    h1 Read
    form(method='post')
        label(for='read-id') ID
        input#read-id(type='text' name='readID')
        button Read
        br
        if(found)
            h3 #{found.name} was found.