extends layout

block content
    h1 Read
    form(method='post')
        label(for='read-name') Name
        input#read-name(type='text' name='readName')
        button Read
        br
        if(found)
            h3 #{found.name} was found.