extends layout

block content
    h1 Update
    form(method='post')
        label(for='update-id') ID
        input#update-id(type='text' name='updateID')
        br
        label(for='update-value') Value
        input#update-value(type='text' name='updateValue')
        button Update
