extends layout

block content
    h1 Update
    form(method='post')
        label(for='old-name') Old name
        input#old-name(type='text' name='oldName')
        br
        label(for='new-name') New name
        input#new-name(type='text' name='newName')
        button Update
